@charset "UTF-8";
/*regra @charset para evitar erros com acentuação*/
body{
    background-color: rgb(167, 185, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(67, 207, 11);
    background-color: rgb(105, 51, 72);
}
h2{
    color: red;
}
p{
    text-align: justify;
}